<div class="main">
    <div class="row">
        <div class="col-sm">
            <button  mat-raised-button color="primary" style="margin-left: 93%; margin-top: 2px; margin-bottom: 0px; padding: 0px;" [routerLink]="['/add']">add</button>
        </div>
      </div>
    <table class="styled-table" >
        <thead>
            <tr>
                <th>Date</th>
                <th>GL-Number</th>
                <th>Particulars</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Narration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let journl of journals" style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;">
                <td>{{format(journl.date)}}</td>
                <td>{{journl.glNumber}}</td>
                <td>
                    <p>{{journl.drAccount.name}}</p>
                    <p style="margin-left: 25px;">{{journl.drAccount.name}}</p>
                </td>
                <td><p style="margin-top: -10px;">{{journl.amount}}</p></td>
                <td><p style="margin-top: 45px;">{{journl.amount}}</p></td>
                <td>{{journl.narration}}</td>
            </tr>
        </tbody>
    </table>

</div>