################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Api/BookKeeper/.vs/DesigntimeBuild
/Api/BookKeeper/.vs/BookKeeper/v17
/Api/BookKeeper/BookKeeper.Service/obj/Debug/net6.0
/Api/BookKeeper/BookKeeper.Service/obj
/Api/BookKeeper/BookKeeper.Models/obj
/Api/BookKeeper/BookKeeper.DTO/obj/Debug/net6.0
/Api/BookKeeper/BookKeeper.DTO/obj
/Api/BookKeeper/BookKeeper.DataStore/obj/Debug/net6.0
/Api/BookKeeper/BookKeeper.DataStore/obj
/Api/BookKeeper/BookKeeper.Api/obj/Debug/net6.0
/Api/BookKeeper/BookKeeper.Api/obj
/Api/BookKeeper/.vs/BookKeeper/FileContentIndex
/Api/BookKeeper/BookKeeper.Service/bin/Debug/net6.0
/Api/BookKeeper/BookKeeper.Models/bin/Debug/net6.0
/Api/BookKeeper/BookKeeper.DTO/bin/Debug/net6.0
/Api/BookKeeper/BookKeeper.DataStore/bin/Debug/net6.0
/Api/BookKeeper/BookKeeper.Api/bin/Debug/net6.0
/Api/BookKeeper/.vs/BookKeeper/DesignTimeBuild/.dtbcache.v2
/Api/BookKeeper/.vs/BookKeeper/DesignTimeBuild/.dtbcache.v2
/.vs
