
<!-- <mat-card>
    <mat-card-header>
        <h1>Login</h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="profileForm">

            <label for="first-name">First Name: </label>
            <input id="first-name" type="text" formControlName="firstName">
          
            <label for="last-name">Last Name: </label>
            <input id="last-name" type="text" formControlName="lastName">
          
          </form>
    </mat-card-content>
</mat-card> -->


<div class="container">
    <button (click)="loginUser()">login without email password</button>
</div>